<tr>
  <td><a href='/index.html?tool={{ id }}'><img src="{{ logo_url }}" style="height: 20px;"/> {{ name }}</a></td>
  <td>{{ id }}</td>
  <td><a href="{{ author_url }}">{{ author_name }}</a></td>
  <td>{{ added }}</td>
  <td>{{ uses }}</td>
  <td><div class="description span4">{{description}}</div></td>
</tr>